.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    height: 80px;
    border-bottom: 3px solid #c3d233;
}

.header__menu img {
    display: flex;
    cursor: pointer;
    width: 62px;
    border-radius: 50%;
    margin-right: 15px;
}

.header__menu ul {
    display: none;
    background: #f4f4f4;
    width: 100px;
    height: 75px;
    list-style: none;
    position: absolute;
    top: 72px;
    right: 30px;
    padding: 0;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.header__menu li {
    margin: 10px;
}

.header__menu li:nth-child(2) {
    border-top: 2px solid #c3d233;
}